
   Illuminate\Database\QueryException 

  SQLSTATE[08006] [7] received invalid response to SSL negotiation: I (Connection: pgsql, Host: 127.0.0.1, Port: 3306, Database: rme_admin, SQL: select exists (select 1 from pg_class c, pg_namespace n where n.nspname = current_schema() and c.relname = 'migrations' and c.relkind in ('r', 'p') and n.oid = c.relnamespace))

  at vendor\laravel\framework\src\Illuminate\Database\Connection.php:841
    837▕             $exceptionType = ($isUniqueConstraintError = $this->isUniqueConstraintError($e))
    838▕                 ? UniqueConstraintViolationException::class
    839▕                 : QueryException::class;
    840▕ 
  ➜ 841▕             $exception = new $exceptionType(
    842▕                 $this->getNameWithReadWriteType(),
    843▕                 $query,
    844▕                 $this->prepareBindings($bindings),
    845▕                 $e,

  1   vendor\laravel\framework\src\Illuminate\Database\Connectors\Connector.php:66
      PDOException::("SQLSTATE[08006] [7] received invalid response to SSL negotiation: I")

  2   vendor\laravel\framework\src\Illuminate\Database\Connectors\Connector.php:66
      PDO::__construct("pgsql:host=127.0.0.1;dbname='rme_admin';port=3306;client_encoding='utf8';sslmode=prefer", "root", Object(SensitiveParameterValue), [])

